<% include header %>
<% if (posts) { %>
<div class="content">
    <% posts.forEach(function (post, index) { %>
        <div class="blog">
            <% if (post.head != "") { %>
                <img src="<%=post.head%>" alt="" class="icon"/>
            <% } else {%>
                <img src="/image/icon.jpg" alt="" class="icon"/>
            <% } %>
            <div class="blog_info">
                <h3 class="blog_name"><a href="/u/<%=post.name%>/<%=post.time.day%>/<%=post.title%>" style="color: #ff0000"><%=post.title%></a></h3>
                <ul class="blog_ul">
                    <% if (post.tags.length !== 0) { %>
                        <% post.tags.forEach(function (tag, index) { %>
                            <li class="tag"><a href="/tags/<%=tag%>"><%=tag%></a></li>
                        <% }) %>
                    <% } else { %>
                        <li class="tag">无标签</li>
                    <% } %>
                    <li class="man">
                        <div class="litter_icon_man" title="作者"></div>
                        <div class="litter_num"><a href="/u/<%=post.name%>"><%=post.name%></a></div>
                    </li>
                    <li class="see">
                        <div class="litter_icon_see" title="查看"></div>
                        <div class="litter_num"><%=post.pv%></div>
                    </li>
                    <li class="collection">
                        <div class="litter_icon_collection" title="关注"></div>
                        <div class="litter_num"><%=post.care%></div>
                    </li>
                    <li class="reprinted">
                        <div class="litter_icon_reprinted" title="转发"></div>
                        <div class="litter_num">0</div>
                    </li>
                    <li class="posttime" title="发布时间"><%=post.time.minute%></li>
                </ul>
            </div>
            <div class="comments">
                <span class="num"><%=post.comments.length%></span>
                <span class="pinglun">评论</span>
            </div>
        </div>
    <% }) %>
</div>
<% } %>
<% include footer %>